.cont{
    font-family: fantasy;
    color: rgb(34, 32, 30);
    top:3em;
    right: 8.2em;
    position: relative;
    width: 300px;
    height: 20px;
    padding: 20px;
}
.cont-l {
    font-family: fantasy;
    color: antiquewhite;
    top:.5em;
    right: 5.5em;
    position: relative;
    width: 250px;
    height: 20px;
    padding: 20px;
}
.lista {
    padding-bottom: 20px;
}
.cont a {
    color:rgb(13, 13, 14);
    padding: 20px;

}
.cont-s {
   font-family: fantasy;
    color: antiquewhite;
    right: 30em;
    top:10.4em;
    position: absolute;
}
.cont-sis {
    position: relative;
    top:-8em;
    right: -35em;
    
}
.cont-sist {
    right:23em;
    top:16em;
    position: absolute;
}
.cont-siste {
    background: silver;
    border: 1px solid #393939;
    border-radius: 5px 5px 5px 5px;
    color: #393939;
    font-size: 12px;
    padding: 5px;
    width: 20%;
    height: 26px;

box-sizing: border-box;
}
.cont-sisteb {
    width: 10%;
    height: 35px;
    background: silver;
    border: 1px solid #393939;
    border-radius: 5px 5px 5px 5px;
    color: #393939;
    font-size: 12px;
    padding: 5px;
}

